{% extends "saludo/base.html" %}

{% block body %}
    <h1>Tareas</h1>
    <a href="{% url 'crear_tarea' %}">+ Nueva tarea</a>

    <h3>Listado de Tareas</h3>

    {% for tarea in tareas %}

    {% if tarea.imagen %}
    <img src="{{tarea.imagen.url}}" alt="imagen de {{tarea.nombre}}" width="200px">
    {%endif%}
        <div>
            <h3>{{ tarea.nombre_mayuscula }}</h3>
            <a href="{% url 'editar' tarea.id %}">Editar tarea</a>
            |   <a href="{% url 'eliminar' tarea.id %}">Eliminar tarea</a>
            <p>activo: {{tarea.activo}}</p>
            <p>Completada: {{ tarea.completada }}</p>
            <p>Fecha límite: {{ tarea.fecha_completado }}</p>
        </div>
    {% empty %}
        <p>No hay tareas todavía.</p>
    {% endfor %}
{% endblock %}