{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} app para saludar {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'saludo/styles.css' %}">
</head>
<body>
    <nav>
        soy la navegacion...
        <a href="/saludar">Saludar</a>
        <a href="/despedir">despedir</a>
        <a href="/tareas">Tareas</a>
        <a href="/admin">admin</a>

    </nav>

    {% block body %}

    {% endblock %}
</body>
</html>