{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} app para saludar {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'saludo/styles.css' %}">
</head>
<body>
    <nav>
        <img src="{%static 'saludo/itec.jpeg'%}" alt="logo", width="25px">
        <a href="/saludar">Saludar</a>
        <a href="/despedir">despedir</a>
        <a href="/tareas">Tareas</a>
        <a href="/admin">admin</a>

        <a href="{% url 'login' %}">Iniciar sesion</a>
        
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesion</button>
        </form>

        {% else %}
    </nav>
        <p>no estas logueado | <a href="{% url 'login' %}">Login</a></p>
        
        <span>{{ user.username }}</span>
        {% endif %}
        
        {% block body %}
        
        {% endblock %}
    </body>
</html>